dtds/menu.dtd

<!ELEMENT menu (meals+, beverages+, beveragesO+)>
<!ELEMENT meals (name, description, price, image)>
<!ELEMENT beverages (name, price, image)>
<!ELEMENT beveragesO (name, price, image)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT image (#PCDATA)>